body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}



.square {
  display: flex;
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 34px;
  font-weight: bold;
  line-height: 54px;
  height: 24px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 44px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.newsit {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.game {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}


.newstatus {

  margin-bottom: 20px;
  margin-left: 480px;
  color:green;
}

.fieldset {
  justify-content: center;
  align-content:center ;
  display: flex;
  flex-direction: column-reverse;
}
